<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package
        Name="Versi"
        Manufacturer="Versi"
        Version="VERSION_PLACEHOLDER"
        UpgradeCode="E8F9A1B2-C3D4-5E6F-7A8B-9C0D1E2F3A4B"
        Scope="perUser">

        <MajorUpgrade
            DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

        <MediaTemplate EmbedCab="yes"/>

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="INSTALLFOLDER" Name="Versi">
                <Component Id="MainExecutable" Guid="*">
                    <File Id="versi_exe" Source="target\x86_64-pc-windows-msvc\release\versi.exe"/>
                </Component>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Versi">
                <Component Id="StartMenuShortcut" Guid="*">
                    <Shortcut
                        Id="StartMenuShortcut"
                        Name="Versi"
                        Description="GUI for Fast Node Manager"
                        Target="[INSTALLFOLDER]versi.exe"
                        WorkingDirectory="INSTALLFOLDER"
                        Icon="AppIcon.ico"/>
                    <Icon Id="AppIcon.ico" SourceFile="assets\icon.ico"/>
                    <RemoveFolder Id="RemoveStartMenuFolder" On="uninstall"/>
                    <RegistryValue
                        Root="HKCU"
                        Key="Software\Versi"
                        Name="Installed"
                        Type="integer"
                        Value="1"
                        KeyPath="yes"/>
                </Component>
            </Directory>
        </StandardDirectory>

        <Feature Id="Main" Level="1">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="StartMenuShortcut"/>
        </Feature>

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
        <WixVariable Id="WixUILicenseRtf" Value="wix\license.rtf"/>
    </Package>
</Wix>
