[package]
name = "versi-backend"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
tokio.workspace = true
serde.workspace = true
thiserror.workspace = true
chrono.workspace = true
async-trait.workspace = true
